useDynLib(SelvarMixMNAR, .registration = TRUE)
export(SelvarClustLasso, SelvarLearnLasso, SortvarClust, SortvarLearn)
S3method(summary, selvarmix)
S3method(print, selvarmix)
S3method(plot, selvarmix)
S3method(print, summary.selvarmix)
S3method(summary, selvarmix_collection)
S3method(print, selvarmix_collection)
S3method(plot, selvarmix_collection)
S3method(print, summary.selvarmix_collection)
importFrom("methods", is)
importFrom("stats", cov, kmeans)
importFrom("Rcpp", evalCpp)
importFrom("Rmixmod", mixmodGaussianModel)
importFrom("parallel", mclapply, parLapply, clusterApply, makeCluster, clusterExport, detectCores, stopCluster, parApply, clusterEvalQ)
